.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
}

.star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    right: 80%;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
    .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
        color: var(--primary-color);
    }
}
.star:nth-child(1) {
    --star-tail-length: 6.34em;
    --top-offset: 66.03vh;
    --fall-duration: 6.355s;
    --fall-delay: 8.168s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(2) {
    --star-tail-length: 5.37em;
    --top-offset: 20.94vh;
    --fall-duration: 6.796s;
    --fall-delay: 3.797s;
    --primary-color: #F95700FF;
}
.star:nth-child(3) {
    --star-tail-length: 7.08em;
    --top-offset: 34.78vh;
    --fall-duration: 9.313s;
    --fall-delay: 5.513s;
    --primary-color: #009B72FF;
}
.star:nth-child(4) {
    --star-tail-length: 6.95em;
    --top-offset: 89.3vh;
    --fall-duration: 10.337s;
    --fall-delay: 0.588s;
    --primary-color: #005F73FF;
}
.star:nth-child(5) {
    --star-tail-length: 5.25em;
    --top-offset: 38.31vh;
    --fall-duration: 9.334s;
    --fall-delay: 3.375s;
    --primary-color: #009B72FF;
}
.star:nth-child(6) {
    --star-tail-length: 6.15em;
    --top-offset: 22.6vh;
    --fall-duration: 8.047s;
    --fall-delay: 6.623s;
    --primary-color: #00A4CCFF;

}
.star:nth-child(7) {
    --star-tail-length: 5.94em;
    --top-offset: 80.12vh;
    --fall-duration: 8.91s;
    --fall-delay: 1.739s;
    --primary-color: #F95700FF;
}
.star:nth-child(8) {
    --star-tail-length: 6.38em;
    --top-offset: 19.16vh;
    --fall-duration: 6.631s;
    --fall-delay: 8.757s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(9) {
    --star-tail-length: 6.32em;
    --top-offset: 39.98vh;
    --fall-duration: 9.163s;
    --fall-delay: 9.725s;
    --primary-color: #005F73FF;
}
.star:nth-child(10) {
    --star-tail-length: 7.43em;
    --top-offset: 61.02vh;
    --fall-duration: 11.018s;
    --fall-delay: 8.293s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(11) {
    --star-tail-length: 6.05em;
    --top-offset: 12.19vh;
    --fall-duration: 6.868s;
    --fall-delay: 2.676s;
    --primary-color: #005F73FF;
}
.star:nth-child(12) {
    --star-tail-length: 6.56em;
    --top-offset: 12.16vh;
    --fall-duration: 9.219s;
    --fall-delay: 0.065s;
    --primary-color: #F95700FF;
}
.star:nth-child(13) {
    --star-tail-length: 6.58em;
    --top-offset: 19.35vh;
    --fall-duration: 7.467s;
    --fall-delay: 7.871s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(14) {
    --star-tail-length: 6.88em;
    --top-offset: 97.7vh;
    --fall-duration: 11.52s;
    --fall-delay: 8.399s;
    --primary-color: #F95700FF;
}
.star:nth-child(15) {
    --star-tail-length: 5.98em;
    --top-offset: 12.12vh;
    --fall-duration: 7.405s;
    --fall-delay: 9.352s;
    --primary-color: #009B72FF;
}
.star:nth-child(16) {
    --star-tail-length: 6.24em;
    --top-offset: 64.76vh;
    --fall-duration: 10.73s;
    --fall-delay: 3.227s;
    --primary-color: #F95700FF;
}
.star:nth-child(17) {
    --star-tail-length: 5.18em;
    --top-offset: 66.16vh;
    --fall-duration: 9.159s;
    --fall-delay: 5.489s;
    --primary-color: #009B72FF;
}
.star:nth-child(18) {
    --star-tail-length: 5.03em;
    --top-offset: 93.11vh;
    --fall-duration: 10.278s;
    --fall-delay: 7.429s;
    --primary-color: #005F73FF;
}
.star:nth-child(19) {
    --star-tail-length: 5.95em;
    --top-offset: 12.09vh;
    --fall-duration: 8.602s;
    --fall-delay: 4.421s;
    --primary-color: #F95700FF;
}
.star:nth-child(20) {
    --star-tail-length: 5.78em;
    --top-offset: 85.06vh;
    --fall-duration: 7.533s;
    --fall-delay: 6.228s;
    --primary-color: #009B72FF;
}
.star:nth-child(21) {
    --star-tail-length: 7.29em;
    --top-offset: 2.29vh;
    --fall-duration: 9.508s;
    --fall-delay: 1.012s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(22) {
    --star-tail-length: 6.24em;
    --top-offset: 20.29vh;
    --fall-duration: 11.667s;
    --fall-delay: 7.545s;
    --primary-color: #009B72FF;
}
.star:nth-child(23) {
    --star-tail-length: 5.62em;
    --top-offset: 71.97vh;
    --fall-duration: 8.913s;
    --fall-delay: 4.494s;
    --primary-color: #005F73FF;
}
.star:nth-child(24) {
    --star-tail-length: 6.5em;
    --top-offset: 54.69vh;
    --fall-duration: 6.924s;
    --fall-delay: 1.582s;
    --primary-color: #F95700FF;
}
.star:nth-child(25) {
    --star-tail-length: 7.34em;
    --top-offset: 43.76vh;
    --fall-duration: 9.608s;
    --fall-delay: 1.574s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(26) {
    --star-tail-length: 5.37em;
    --top-offset: 40.43vh;
    --fall-duration: 10.165s;
    --fall-delay: 0.342s;
    --primary-color: #009B72FF;
}
.star:nth-child(27) {
    --star-tail-length: 6.57em;
    --top-offset: 87.13vh;
    --fall-duration: 6.702s;
    --fall-delay: 9.708s;
    --primary-color: #F95700FF;
}
.star:nth-child(28) {
    --star-tail-length: 5.78em;
    --top-offset: 16.04vh;
    --fall-duration: 10.122s;
    --fall-delay: 7.963s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(29) {
    --star-tail-length: 6.27em;
    --top-offset: 63.48vh;
    --fall-duration: 7.24s;
    --fall-delay: 3.664s;
    --primary-color: #009B72FF;
}
.star:nth-child(30) {
    --star-tail-length: 5.15em;
    --top-offset: 3.87vh;
    --fall-duration: 9.032s;
    --fall-delay: 4.875s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(31) {
    --star-tail-length: 6.99em;
    --top-offset: 76.81vh;
    --fall-duration: 8.191s;
    --fall-delay: 2.984s;
    --primary-color: #005F73FF;
}
.star:nth-child(32) {
    --star-tail-length: 7.26em;
    --top-offset: 77.2vh;
    --fall-duration: 9.346s;
    --fall-delay: 6.657s;
    --primary-color: #009B72FF;
}
.star:nth-child(33) {
    --star-tail-length: 7.33em;
    --top-offset: 74.85vh;
    --fall-duration: 8.932s;
    --fall-delay: 6.164s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(34) {
    --star-tail-length: 5.96em;
    --top-offset: 2.41vh;
    --fall-duration: 7.183s;
    --fall-delay: 2.369s;
    --primary-color: #F95700FF;
}
.star:nth-child(35) {
    --star-tail-length: 5.68em;
    --top-offset: 97.97vh;
    --fall-duration: 8.866s;
    --fall-delay: 0.644s;
    --primary-color: #009B72FF;
}
.star:nth-child(36) {
    --star-tail-length: 5.93em;
    --top-offset: 59.27vh;
    --fall-duration: 8.385s;
    --fall-delay: 6.898s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(37) {
    --star-tail-length: 5.77em;
    --top-offset: 58.8vh;
    --fall-duration: 9.815s;
    --fall-delay: 4.808s;
    --primary-color: #F95700FF;
}
.star:nth-child(38) {
    --star-tail-length: 6.23em;
    --top-offset: 13.17vh;
    --fall-duration: 9.642s;
    --fall-delay: 7.94s;
    --primary-color: #009B72FF;
}
.star:nth-child(39) {
    --star-tail-length: 6.99em;
    --top-offset: 94.66vh;
    --fall-duration: 6.923s;
    --fall-delay: 7.282s;
    --primary-color: #F95700FF;
}
.star:nth-child(40) {
    --star-tail-length: 5.18em;
    --top-offset: 38.8vh;
    --fall-duration: 10.398s;
    --fall-delay: 6.389s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(41) {
    --star-tail-length: 6.67em;
    --top-offset: 95.91vh;
    --fall-duration: 7.971s;
    --fall-delay: 8.144s;
    --primary-color: #009B72FF;
}
.star:nth-child(42) {
    --star-tail-length: 6.33em;
    --top-offset: 21.46vh;
    --fall-duration: 11.531s;
    --fall-delay: 9.344s;
    --primary-color: #005F73FF;
}
.star:nth-child(43) {
    --star-tail-length: 5.85em;
    --top-offset: 38.51vh;
    --fall-duration: 7.147s;
    --fall-delay: 2.892s;
    --primary-color: #F95700FF;
}
.star:nth-child(44) {
    --star-tail-length: 6.38em;
    --top-offset: 26.64vh;
    --fall-duration: 9.407s;
    --fall-delay: 3.383s;
    --primary-color: #009B72FF;
}
.star:nth-child(45) {
    --star-tail-length: 5.92em;
    --top-offset: 98.45vh;
    --fall-duration: 9.285s;
    --fall-delay: 5.677s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(46) {
    --star-tail-length: 6.39em;
    --top-offset: 23.58vh;
    --fall-duration: 10.278s;
    --fall-delay: 1.643s;
    --primary-color: #F95700FF;
}
.star:nth-child(47) {
    --star-tail-length: 5.96em;
    --top-offset: 9.04vh;
    --fall-duration: 9.675s;
    --fall-delay: 2.669s;
    --primary-color: #00A4CCFF;
}
.star:nth-child(48) {
    --star-tail-length: 5.37em;
    --top-offset: 65vh;
    --fall-duration: 7.961s;
    --fall-delay: 8.54s;
    --primary-color: #005F73FF;
}
.star:nth-child(49) {
    --star-tail-length: 7.33em;
    --top-offset: 5.43vh;
    --fall-duration: 7.243s;
    --fall-delay: 1.357s;
    --primary-color: #F95700FF;
}
.star:nth-child(50) {
    --star-tail-length: 6.75em;
    --top-offset: 79.23vh;
    --fall-duration: 7.827s;
    --fall-delay: 2.635s;
    --primary-color: #005F73FF;
}
.star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}
.star::before {
    transform: rotate(45deg);
}
.star::after {
    transform: rotate(-45deg);
}

@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}
@keyframes tail-fade {
    0%, 50% {
        width: var(--star-tail-length);
        opacity: 1;
    }
    70%, 80% {
        width: 0;
        opacity: 0.4;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}
@keyframes blink {
    50% {
        opacity: 0.6;
    }
}